
<section>


    <div class="container mt-5">

        <div class="row">
            {{#each products}}
            <div class="col-md-3 p-3">
                <div class="card" style="width: 18rem;height:27rem;">
                    <img src="/product-images/{{this._id}}.jpg" class="card-img-top" style="height:15rem;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <p class="card-text">{{this.Description}}</p>
                        <p class="card-text">Price : {{this.Price}}</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>

    </div>

</section>